<fieldset>
	<legend>Parinte (app.component):</legend>
	<p [ngClass]="p_stil">Din parinte (membru): {{ p_nume_vers }}
		<br/>Din parinte (membra): {{ pNumeVers() }}
		<br/>Parinte(template ref + fct)
		<input #ix type='text' size="10" (keyup)="actualizeaza(ix)" [value]="val" >
		<br/>Parinte(NgModel)
		<input type='text' size="10" [(ngModel)]="val" ></p>
		<p style="color:red;"> Citit: {{val}} </p>
    <hr>
		<p [ngClass]="c_stil">Mesaj primit de la copil: {{ apasaMesaj }}</p>
		<p [ngClass]="p_stil">Din Parinte - Total clickuri : {{nrTotalApasari}}</p>
		<h3>LISTA DIN PARINTE</h3>
		<div *ngFor="let elem of lista">
			<sel-copil [num_p]="elem" (apasaClickedP)="onParinteClicked($event)" [ngClass]="c_stil">
			</sel-copil>
		</div>
</fieldset>
